.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    height: 100vh;
}

.menu {
    display: flex;
    list-style-type: none;
    padding-top: 30px;
    padding-left: 10px;
}

    .menu li {
        padding: 0;
        margin-right: 30px;
    }

        .menu li a {
            text-decoration: none;
            color: #000;
        }

.form {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    min-height: 300px;
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.forms {
    display: flex;
    justify-content: space-between;
}
